.div-container{
    margin: 1% 10%;
}

.div-result{
    height: 50%; 
    display:inline-block; 
    margin-left: 5%;
    font-family: fantasy; 
    font-size:large;
}

button, #transferButton, #exampleButton{
background-color: white;
  color: black;
  border: 2px solid	#DC143C; /* Crimson */
  text-align: center;
  font-size: 16px;
  transition-duration: 0.5s;
}
button:hover, #transferButton:hover, #exampleButton:hover{
    background-color: chartreuse;
    font-size:20px;
}

#bonus{
  border: none !important;
}

#page-choice button{
    margin-inline: 10px;
}

textarea {
    border-radius:15px;
    box-shadow:10px 15px 10px rgba(0,0,0,0.06);
    transition-duration: 1s;
    height: 150px;
    border:none;
    outline:none;
    font-size: large;
  }

textarea:focus{
    background-color: #a3a3a3a3;    
  }

  form input {
     font-size:20px;
     margin: 5px;
  }

  input[type=text]:focus {
    background-color: lightblue;
  }

  #hundredForms input {
    margin: 10px;
  }
 