<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Site3</title>
<link rel="stylesheet" href="./styles/generic.css">

<script src="./scripts/xss3.js">
</script>
</head>
<body>
  <button onclick="location.href = 'http://' + location.host + '/site2 '" style = "margin-left: 1%; margin-top: 1%"> Prev</button>
  <button onclick="location.href = 'http://' + location.host + '/site4'" style = "margin-left: 70%; margin-top: 1%"> Next</button>

<div class = "div-container">
  <div style="display:inline-block">
    <form action="/site3" method="post">
      First name:<br>
      <input type="text" name="firstName" value="Mickey"><br>
      Last name:<br>
      <input type="text" name="lastName" value="Mouse"><br>
      Age:<br>
      <input type="text" name="age" value="30"><br>
    
      <input type="submit" id="transferButton" value="Submit">
    </form>
  </div>
  <div style="display:inline-block">
  </div>
</div>


</body>
</html>