<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Site 4</title>
<link rel="stylesheet" href="./styles/generic.css">
 <script>
    function prepareForm(nFormQueries) {
        for (let index = 0; index < nFormQueries; index++) {
            document.getElementById(index).value = String(document.getElementById(index).value).preventXss();
        }
        document.getElementById("site2Form").submit();
        }

</script>
<script src="./scripts/xss2.js">
</script>

<script>

let index = Math.floor(Math.random()*(101));
index = makeVuln(index);
console.log("Vulnerable:" + index + "!!!DELETE BEFORE DEPLOYMENT");

  function generateGrid(){

let values = ["John", "Bathtub", "Kitchen", "Dog collar", "Nevermore", "Walker",
 "And then my heart", "with pleasure fills.", "And dances", "with the daffodils.",
"", "Once upon a", "midnight dreary", "while I pondered", "weak and weary", "And the Raven",
"never flitting", "still is sitting", "still is sitting", "And his eyes", "have all the seeming",
"of a demon's", "that is dreaming", "that lies floating", "on the floor", "shall be lifted", "Nevermore",
""]

//let index = Math.floor(Math.random()*(101));

for (let i = 0; i < 100; i++) {
    let valueIndex = Math.floor(Math.random()*(values.length+1));
    let child = document.createElement("input");
    child.id = i+1000;
    //if(i == index){
    //    child.type = "hidden";
    //    child.value = "Test";
    //} else {
        child.type = "text";
        child.value = values[valueIndex];
    //}
   
    child.style.display="inline-block";
    child.style.color="#FF5800";
    child.style.backgroundColor="#D1D0D0";
    

    document.getElementById("hundredForms").append(child);
    
  }
}

function transferPOST() {
        let data = {};
        for (let i = 0; i < 100; i++) {
            document.getElementById(i).value = document.getElementById(i+1000).value;
            let value = document.getElementById(i).value;
            if(i != index){
                value.preventXss();
            }
            data.i=value;
        }
        console.log(data);

        document.getElementById("hundredForms").submit();
        
      }

</script>


</head>
<body onload="generateGrid()" style="background-color: black;">
  <button onclick="location.href = 'http://' + location.host + '/site3 '" style = "margin-left: 1%; margin-top: 1%"> Prev</button>
  <button onclick="location.href = 'http://' + location.host" style = "margin-left: 70%; margin-top: 1%"> Next</button>
  <center id = "centerTarget">
    <h2 style="color:lightblue"> Dada Generator  </h2> <div style="display:inline-block">
      <button onClick="location.reload()">GENERATE</button>
      <button onClick='transferPOST()'>SHOW RESULT</button>
  </center>
  
<div class = "div-container">
  <form action = "site4" method="post" id="hundredForms" style="display:inline-block">
    <input type=hidden name="0"  id="0" value=""> 
    <input type=hidden name="1"  id="1" value=""> 
    <input type=hidden name="2"  id="2" value=""> 
    <input type=hidden name="3"  id="3" value=""> 
    <input type=hidden name="4"  id="4" value=""> 
    <input type=hidden name="5"  id="5" value=""> 
    <input type=hidden name="6"  id="6" value=""> 
    <input type=hidden name="7"  id="7" value=""> 
    <input type=hidden name="8"  id="8" value=""> 
    <input type=hidden name="9"  id="9" value="">
    <input type=hidden name="10" id="10" value=""> 
    <input type=hidden name="11" id="11" value=""> 
    <input type=hidden name="12" id="12" value=""> 
    <input type=hidden name="13" id="13" value=""> 
    <input type=hidden name="14" id="14" value=""> 
    <input type=hidden name="15" id="15" value=""> 
    <input type=hidden name="16" id="16" value=""> 
    <input type=hidden name="17" id="17" value=""> 
    <input type=hidden name="18" id="18" value=""> 
    <input type=hidden name="19" id="19" value=""> 
    <input type=hidden name="20" id="20" value=""> 
    <input type=hidden name="21" id="21" value=""> 
    <input type=hidden name="22" id="22" value=""> 
    <input type=hidden name="23" id="23" value=""> 
    <input type=hidden name="24" id="24" value=""> 
    <input type=hidden name="25" id="25" value=""> 
    <input type=hidden name="26" id="26" value=""> 
    <input type=hidden name="27" id="27" value=""> 
    <input type=hidden name="28" id="28" value=""> 
    <input type=hidden name="29" id="29" value=""> 
    <input type=hidden name="30" id="30" value=""> 
    <input type=hidden name="31" id="31" value=""> 
    <input type=hidden name="32" id="32" value=""> 
    <input type=hidden name="33" id="33" value=""> 
    <input type=hidden name="34" id="34" value=""> 
    <input type=hidden name="35" id="35" value=""> 
    <input type=hidden name="36" id="36" value=""> 
    <input type=hidden name="37" id="37" value=""> 
    <input type=hidden name="38" id="38" value=""> 
    <input type=hidden name="39" id="39" value=""> 
    <input type=hidden name="40" id="40" value=""> 
    <input type=hidden name="41" id="41" value=""> 
    <input type=hidden name="42" id="42" value=""> 
    <input type=hidden name="43" id="43" value=""> 
    <input type=hidden name="44" id="44" value=""> 
    <input type=hidden name="45" id="45" value=""> 
    <input type=hidden name="46" id="46" value=""> 
    <input type=hidden name="47" id="47" value=""> 
    <input type=hidden name="48" id="48" value=""> 
    <input type=hidden name="49" id="49" value=""> 
    <input type=hidden name="50" id="50" value=""> 
    <input type=hidden name="51" id="51" value=""> 
    <input type=hidden name="52" id="52" value=""> 
    <input type=hidden name="53" id="53" value=""> 
    <input type=hidden name="54" id="54" value=""> 
    <input type=hidden name="55" id="55" value=""> 
    <input type=hidden name="56" id="56" value=""> 
    <input type=hidden name="57" id="57" value=""> 
    <input type=hidden name="58" id="58" value=""> 
    <input type=hidden name="59" id="59" value=""> 
    <input type=hidden name="60" id="60" value=""> 
    <input type=hidden name="61" id="61" value=""> 
    <input type=hidden name="62" id="62" value=""> 
    <input type=hidden name="63" id="63" value=""> 
    <input type=hidden name="64" id="64" value=""> 
    <input type=hidden name="65" id="65" value=""> 
    <input type=hidden name="66" id="66" value=""> 
    <input type=hidden name="67" id="67" value=""> 
    <input type=hidden name="68" id="68" value=""> 
    <input type=hidden name="69" id="69" value=""> 
    <input type=hidden name="70" id="70" value=""> 
    <input type=hidden name="71" id="71" value=""> 
    <input type=hidden name="72" id="72" value=""> 
    <input type=hidden name="73" id="73" value=""> 
    <input type=hidden name="74" id="74" value=""> 
    <input type=hidden name="75" id="75" value=""> 
    <input type=hidden name="76" id="76" value=""> 
    <input type=hidden name="77" id="77" value=""> 
    <input type=hidden name="78" id="78" value=""> 
    <input type=hidden name="79" id="79" value=""> 
    <input type=hidden name="80" id="80" value=""> 
    <input type=hidden name="81" id="81" value=""> 
    <input type=hidden name="82" id="82" value=""> 
    <input type=hidden name="83" id="83" value=""> 
    <input type=hidden name="84" id="84" value=""> 
    <input type=hidden name="85" id="85" value=""> 
    <input type=hidden name="86" id="86" value=""> 
    <input type=hidden name="87" id="87" value=""> 
    <input type=hidden name="88" id="88" value=""> 
    <input type=hidden name="89" id="89" value=""> 
    <input type=hidden name="90" id="90" value=""> 
    <input type=hidden name="91" id="91" value=""> 
    <input type=hidden name="92" id="92" value=""> 
    <input type=hidden name="93" id="93" value=""> 
    <input type=hidden name="94" id="94" value=""> 
    <input type=hidden name="95" id="95" value=""> 
    <input type=hidden name="96" id="96" value=""> 
    <input type=hidden name="97" id="97" value=""> 
    <input type=hidden name="98" id="98" value=""> 
    <input type=hidden name="99" id="99" value="">  
  </form>
  
</div>


</body>
</html>