<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Site1</title>
<link rel="stylesheet" href="./styles/generic.css">
<script>
  
  function prepareForm(){
    document.getElementById("site1Form").submit();
  }
</script>

</head>
<body>
  <button onclick="location.href = 'http://' + location.host" style = "margin-left: 1%; margin-top: 1%"> Prev</button>
  <button onclick="location.href = 'http://' + location.host + '/site2'" style = "margin-left: 70%; margin-top: 1%"> Next</button>

<div class="div-container">
  <div style="display:inline-block">
    <form action="/site1" id="site1Form" method="post">
      First name:<br>
      <input type="text" name="firstName" value="Mickey"><br>
      Last name:<br>
      <input type="text" name="lastName" value="Mouse" id="vulnerable"><br>
      Age:<br>
      <input type="text" name="age" value="30"><br>
    
      <input type="submit" id="submitButton" value="Submit" style="display:none">
      <input type="button" onClick="prepareForm()" value="Submit">
    </form>
  </div>
</div>


</body>
</html>